@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,700&display=swap');

/* background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  */


:root{
    --black: #242424;
    --brown: #D19F74;
    --white-bg: #F5F3F1;
    --white: #F5F7F8;
    --pure-white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --gray: #bebebe;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--white);
    color: var(--black);
}

section{
    padding: 5rem 18%;
}

/* ------------------------------------- HEADER START -------------------------------------*/
header{
    padding: 2rem 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    background-color: #fff;
}

header .logo a{
    color: var(--title);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

header .logo p{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

.title{
    color: var(--title);
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: .5rem;
}

header .navbar a{
    color: var(--black);
    text-transform: capitalize;
    margin-left: 1rem;
    font-size: 1.5rem;
    border-radius: 50px;
    transition: .2s;
    padding: 10px 20px;
}

header .navbar a:hover{
    color: var(--white);
    background-color: var(--brown);
}

#menu-btn{
    display: none;
}
/* ------------------------------------- HEADER ENDS -------------------------------------*/
/* ------------------------------------- HERO STARTS -------------------------------------*/
.hero{
    background-image: url("../images/hero.jpg");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
}

.hero .box-container{
    margin: 15rem 0;
    width: 50%;
}

.hero .box-container h1{
    color: var(--white);
    font-size: 5.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.hero .box-container p{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 200;
    width: 75%;
    line-height: 2rem;
    letter-spacing: .15rem;
    margin-bottom: 1rem;
}

.hero .box-container h3{
    color: var(--white);
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
}



.hero .formBox{
    background-color: var(--pure-white);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: 2rem 4rem;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.hero .formBox p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--black);
}

.hero form{
    /* position: relative;
    top: 40px;  */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 auto;
    padding: 2rem 4rem;
    width: 80%; */
    /* background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
     */
}

.hero form .inputBox{
    border: var(--border);
    border-radius: 1rem;
    padding: 1rem;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--black);
}

.hero form .inputBox i{
    font-size: 1.2rem;
    margin-right: .5rem;
}

.hero form .inputBox input::-webkit-calendar-picker-indicator{
    cursor: pointer;
}

.hero form .btn{
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
    transition: outline 0.2s ease-in-out;
    
}

.hero form .btn:hover{
    outline: .5px solid var(--black);
    transition: 0.2s ease-in-out;
    background-color: var(--white);
    color: var(--black);
}

/* ------------------------------------- HERO ENDS -------------------------------------*/

/* ------------------------------------- ROOMS START -------------------------------------*/
.resort h1{
    text-align: center;
    margin-top: 8rem;
}

.resort .box-container{
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    color: var(--black);
}

.resort .box-container .box{
    padding: 3rem 2rem;
    border-radius: 1rem;
    background-color: var(--pure-white);
    box-shadow: var(--box-shadow)
    
}

.resort .box-container .box img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.resort .box-container .box h3{
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 2rem;
}

.resort .box-container .box p{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.resort .room-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    background-color: var(--white-bg);
    width: 80%;
    margin: 2rem auto;
    border-radius: 2rem;
}

.resort .room-details .box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 2rem 4rem;
}

.resort .room-details .box i{
    color: var(--brown);
    margin-right: 1rem;
}

.resort .view-more{
    text-align: center;
    width: 100%;
    margin-top: 3rem;
}
.resort .view-more a{
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 2rem;
    background-color: var(--black);
    border-radius: 2rem;
    text-transform: capitalize;
    transition: outline .2s ease-in-out;
}

.resort .view-more a:hover{
    outline: .5px solid var(--black);
    background: var(--white);
    color: var(--black);
    transition: .2s ease-in-out;
}


/* ------------------------------------- ROOMS ENDS -------------------------------------*/

/* ------------------------------------- REGISTER STARTS -------------------------------------*/
.register{
    background-color: var(--title);
    background-image: var(--gradient);
}

.register .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.register .box-container .register-title{
    flex: 1 1 40rem;
}

.register .box-container .register-title h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 500;
}

.register .box-container .register-title p{
    font-weight: 300;
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
}

.register .box-container .register-form{
    flex: 1 1 25rem;
    text-align: center;
    margin-bottom: 2.5rem;
    background-color: var(--pure-white);
    padding: 2rem 4rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.register .box-container .register-form h3{
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem 0;
}

.register .box-container .register-form .inputBox{
    position: relative;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}


.register .box-container .register-form .inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    background: transparent;
    border-radius: 5px;
    color: var(--black);
    font-size: 1.5rem;
}

.register .box-container .register-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 12px;
    pointer-events: none;
    font-size: 1em;
    color: var(--black);
    text-transform: uppercase;
    transition: 0.5s;
}

.register .box-container .register-form .inputBox input:valid ~ span,
.register .box-container .register-form .inputBox input:focus ~ span{
    color: var(--black);
    transform: translateX(10px) translateY(-5px);
    font-size: .8rem;
    padding: 0 5px;
    background: var(--white);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
}

.register .box-container .register-form .inputBox input::-webkit-outer-spin-button,
.register .box-container .register-form .inputBox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.register .box-container .register-form .btn-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register .box-container .register-form .btn-link .btnClass .btn{
    margin-right: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: .1rem;
    background-color: var(--black);
    cursor: pointer;
    transition: outline 0.2s ease-in-out;
}

.register .box-container .register-form .btn-link .btnClass .btn:hover{
    color: var(--black);
    outline: .5px solid var(--black);
    transition: .2s ease-in-out;
    background-color: var(--white);
}

.register .box-container .register-form .btn-link .link a{
    color: var(--black);
    font-size: 1.5rem;
    letter-spacing: .1rem;
}
/* ------------------------------------- REGISTER ENDS -------------------------------------*/

/* ------------------------------------- LOCAATION START -------------------------------------*/

.location .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.location .map{
    flex: 1 1 40rem;
}

.location .map iframe{
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;   
    box-shadow: var(--box-shadow);
}

.location .details{
    flex: 1 1 15rem;
    text-align: center;
}

.location .details h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--black);
    letter-spacing: .2rem;
}

.location .details .address{
    font-size: 2rem;
}

.location .details p{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--black);
}
/* ------------------------------------- LOCATION ENDS -------------------------------------*/
/* ------------------------------------- REVIEWS STARTS -------------------------------------*/
.reviews h1{
    text-align: center;
}


.reviews .review-slider .box{
    background-color: var(--pure-white);
    outline: var(--border);
    outline-offset: -1rem;
    cursor: pointer;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

.reviews .review-slider .box h3{
    color: var(--black);
    margin-bottom: 1rem;
}

.reviews .review-slider .box .stars{
    color: var(--brown);
    font-size: 1.5rem;
}
.reviews .review-slider .box p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--black);
    margin-top: .5rem;
}
/* ------------------------------------- REVIEWS ENDS -------------------------------------*/

/* ------------------------------------- AMENITIES STARTS -------------------------------------*/

.amenities h1{
    text-align: center;
    color: var(--title);
}

.amenities .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}  

.amenities .box-container .box{
    border-radius: 1rem;
    text-align: center;
    padding: 4rem 2rem;
    background-color: rgb(251, 251, 251);
    box-shadow: var(--box-shadow); 
    border: .1px solid var(--title);
}

.amenities .box-container .box .image{
    margin: 0 auto;

}

.amenities .box-container .box i{
    font-size: 8rem;
}

.amenities .box-container .box h3{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1.5rem 0;
    color: var(--black);
}

.amenities .box-container .box p{
    font-size: 1.5rem;
    color: var(--black);
}


/* ------------------------------------- AMENITIES ENDS -------------------------------------*/


/* ------------------------------------- OFFERS STARTS -------------------------------------*/

.offers{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.offers .box-container{
    background-color: var(--pure-white);
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}


.offers .box-container .box{
    height: 40rem;
}

.offers .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offers .box-container .box-2{
    height: 10rem;
    margin-top: 1rem;
}

.offers .box-container .box-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-2 .swiper-slide {
    opacity: 0.4;
    cursor: pointer;
  }

.box-2 .swiper-slide-thumb-active {
opacity: 1;
}




.offers .offers-details{
    background-color: var(--pure-white);
    flex: 1 1 10rem;
    padding: 5rem 4rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}


.offers .offers-details h3{
    text-align: center;
    font-size: 3.5rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}


.offers .offers-details .inputBox{
    width: 100%;
    border: 1px solid var(--black);
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
}

.offers .offers-details .inputBoxFeature{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
}

.offers .offers-details .inputBoxFeature .box{
    margin: .2rem 0;
    margin-right: 1rem;
}

.offers .offers-details .info{
    font-size: 1rem;
}

.offers .offers-details .info .address{
    margin-top: 2rem;
}

.offers .offers-details .info .address span{
    color: var(--black);
    font-weight: 700;
    text-transform: capitalize;
}

.offers .offers-details .info .price{
    color: var(--brown);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;
}

.offers .offers-details .info .price span{
    color: var(--black);
    font-weight: 400;
    font-size: 1.5rem;
}

.offers .offers-details button{
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-radius: 1rem;
    transition: outline .2s ease-in-out;
}

.offers .offers-details button:hover{
    transition: .2s ease-in-out;
    outline: .1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
}
/* ------------------------------------- OFFERS ENDS -------------------------------------*/

/* ------------------------------------- PROMO STARTS -------------------------------------*/
.promo h1{
    text-align: center;
}

.promo .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 4rem;
}

.promo .box-container .box{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 2rem;
}

.promo .box-container .box h3{
    color: var(--black);
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.promo .box-container .box .feature{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--white-bg);
    padding: 1rem 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}


.promo .box-container .box .feature p i{
    color: var(--brown);
}

.promo .box-container .box .price{
    color: var(--brown);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.promo .box-container .box .price span{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: line-through;
}

.promo .box-container .box img{
    width: 100%;
    object-fit: contain;
}

.promo .box-container .box button{
    width: 100%;
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: 1rem;
    cursor: pointer;
    transition: outline .2s ease-in-out;
}

.promo .box-container .box button:hover{
    transition: .2s ease-in-out;
    outline: .1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
}
/* ------------------------------------- PROMO ENDS -------------------------------------*/

/* ------------------------------------- FAQ STARTS -------------------------------------*/

.faq .box-container{
    color: var(--black);
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: 3rem 5rem;
}

.faq .box-container h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.faq .box-container .ask{
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 2rem;
    margin-bottom: 3rem;
}

.faq .box-container .box{
    border-bottom: 1px solid #dfdfdf;
    padding: 2rem 1rem;
}

.faq .box-container .box .question-box{
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.faq .box-container .box button{
    cursor: pointer;
    background-color: transparent;
}

.faq .box-container .box .answer{
    font-size: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
}

.faq .box-container .box.active .answer{
    
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq .box-container .box .btn .fa-minus{
    display: none;
}

.faq .box-container .box.active .btn .fa-plus{
    display: none; 
}

.faq .box-container .box.active .btn .fa-minus{
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.faq-more-question {
    padding: 0;
}

.faq-more-question .box-container{
  
    text-align-last: center;
    font-size: 1.5rem;
}

.faq-more-question .box-container h3{
    font-weight: 500;
    margin-bottom: 2rem;
}
/* ------------------------------------- FAQ ENDS -------------------------------------*/

/* ------------------------------------- CONTACT STARTS -------------------------------------*/

.contactHeader{
    text-align: center;
}

.contactHeader h1{
    font-size: 4rem;
    margin-top: 4rem;
}

.contactHeader p{
    font-size: 2rem;
    margin-top: 2rem;
    color: #a4a4a4;
}

.contact .box-container{
    display: flex;
    flex-wrap: wrap-reverse;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.contact .box-container .formBox{
    flex: 1 1 40rem;
    padding: 4rem 5rem;
}

.contact .box-container .formBox h1{
    font-size: 3rem;
}

.contact .box-container .formBox p{
    font-size: 1.5rem;
}

.contact .box-container .formBox form .contactBox{
    margin: 1rem 0;
}

.contact .box-container .formBox form .contactBox input{
    font-size: 1.5rem;
    margin-top: .5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 100%;
    border: var(--border);
}

.contact .box-container .formBox form textarea{
    margin-top: .5rem;
    width: 100%;
    border: var(--border);
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.contact .box-container .formBox form button{
    color: var(--white);
    background-color: var(--black);
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: outline .2s ease-in-out;
    cursor: pointer;
}

.contact .box-container .formBox form button:hover{
    transition: .2s ease-in-out;
    outline: 1px solid var(--black);
    background-color: #fff;
    color: var(--black);
    
}


.contact .box-container .imageBox{
    flex: 1 1 60rem;
}

.contact .box-container .imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* ------------------------------------- CONTACT ENDS -------------------------------------*/






/* ------------------------------------- LOGIN STARTS -------------------------------------*/
.login{
    margin: 7.9rem 0;
}
.login .box-container{
    background-color: #fff;
    width: 80%;
    box-shadow: var(--box-shadow);
    padding: 3rem 5rem;
    margin: 0 auto;
    border-radius: 1rem;
}

.login .box-container .login-header{
    text-align: center;
    font-size: 2rem;
}

.login .box-container .login-header p{
    margin-top: 1rem;
    color: #bebebe;
}

.login .box-container form{
    width: 50%;
    margin: 3rem auto;
    text-align: right;
}


.login .box-container form .loginBox{
    text-align: left;
}

.login .box-container form .loginBox input{
    width: 100%;
    padding: 1rem 2rem;
    border: var(--border);
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.login .box-container form .loginBox label{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.login .box-container form a{
    color: var(--gray);
    font-size: 1.5rem;
}

.login .box-container form button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    transition: outline .2s ease-in-out;
}

.login .box-container form button:hover{
    transition: .2s ease-in-out;
    outline: 1px solid var(--black);
    background-color: #fff;
    color: var(--black);
    cursor: pointer;
}

.login .box-container .signUpParagraph{
    text-align: center;
    font-size: 1.5rem;
    color: var(--gray);
}
.login .box-container .signUpParagraph a{
    font-weight: 500;
    color: var(--black);
}

/* ------------------------------------- LOGIN ENDS -------------------------------------*/










































/* ------------------------------------- FOOTER STARTS -------------------------------------*/
.footer{
    background-color: var(--white-bg);
    text-align: center;
    margin-top: 2rem;
    color: var(--black);
}

.footer .box-container{
    padding: 2rem 0;
}

.footer h3{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.footer .icons a i{
    font-size: 4rem;
    margin: 0 2rem;
    color: var(--black);
}

.footer .icons a i:hover{
    color: var(--brown);
}

.footer p{
    margin-top: 3.5rem;
    font-size: 1.5rem;
}
/* ------------------------------------- FOOTER ENDS -------------------------------------*/














@media (max-width: 1600px){
    html{
        font-size: 55%;
    }
   .hero .formBox{
        top: -50px;
   }
}



@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 5rem;
    }

    section{
        padding: 5rem;
    }
} 




@media (max-width: 991px) {
    html{
        font-size: 55%;
    }


    section{
        padding: 2rem;
    }
} 






@media (max-width: 768px) {
    section{
        padding: 2rem;
    }
    
    #menu-btn{
        display: inline-block;
        font-size: 2rem;
        color: var(--title);
        cursor: pointer;
    }

    header .navbar{
        z-index: 1000;
        position: absolute;
        top: 8%;
        right: 2.5rem;
        width: 20rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        background: #fff;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
        transition: none;
        
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        display: block;
        margin: 1rem;
        font-size: 1.5rem;
    }

    .hero .box-container{
        display: block;
        margin: 5rem auto;
    }

    .hero .box-container, .hero .box-container p{
        width: 100%;
    }


    .hero .formBox{
        margin: 3rem auto;
        width: 90%;
        top: 0;
    }

    .hero .formBox form{
        display: block;
    }

    .hero form .inputBox{
        margin: 1rem 0;
    }

    .hero form .btn{
        margin: 0;
        width: 100%;
        margin-top: 1.5rem;
    }

}

@media (max-width: 450px) {
    html{
        font-size: 45%;
    }

    .header{
        padding: 2rem;
    }

    .heading{
        font-size: 2.5rem;
    }

    .resort .box-container{
        padding: 0;
    }

    .resort h1{
        margin: 0;
    }

    .location .details{
        text-align: left;
        margin: 2rem 3rem;
    }

    .resort .room-details{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .register .box-container .register-form .btn-link{
        display: block;
     }

     .register .box-container .register-form .btn-link .btn{
        margin-bottom: .5rem;
     }
     
     .faq .box-container{
        width: 100%;
     }

     .contact .box-container .imageBox img{
        border-radius: 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
     }

     .login .box-container, .login .box-container form{
        width: 100%;
     }

     
} 
